<div class="container">
  <div class="container-card">
    <img src="./assets/images/image.png" />

    <div class="container-info">
      <p class="container-info__field">Name:</p>
      <p class="container-info__field">species:</p>
      <p class="container-info__field">Gender:</p>
    </div>
  </div>

  <div class="container-card">
    <img src="./assets/images/image.png" />

    <div class="container-info">
      <p class="container-info__field">Name:</p>
      <p class="container-info__field">species:</p>
      <p class="container-info__field">Gender:</p>
    </div>
  </div>
</div>
