<app-search (searchValue)="getSearchValue($event)"></app-search>
<div class="container">
  <ng-container *ngFor="let character of characters">
    <app-card
      [name]="character.name"
      [species]="character.species"
      [gender]="character.gender"
    >
    </app-card>
  </ng-container>
</div>
<div
  *ngIf="value && characters?.length === 0 && !isLoading"
  class="container-empty"
>
  <h3 class="container-empty__message">No existe personajes</h3>
</div>

<div class="container-loading" *ngIf="isLoading">
  <h2 class="container-loading__message">Loading...</h2>
</div>
